/*
#C2F83E;
#34D0BA;
#FB3F51;
*/
* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-size: 10px;
}

body {
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
}

.cp-header {
    width: 100%;
    height: 40px;
    padding-top: 4px;
    background-color: #C2F83E;
    color: #FB3F51;
    font-size: 2.5rem;
    text-align: center;
}

.sp-main {
    width: 100%;
    display: flex;
    flex: 1;
    background-color: aliceblue
}

.cp-color-data {
    width: 25%;
    min-width: 200px;
    background-color: #ccc;
}
.cp-color-active{
    width: 100%;
    background-color: #fff;
    display: flex;
}
.cp-color-active-value{
    margin-left: 10px;
    font-size: 1.5rem;
}
.cp-color-current{
    width: 100px;
    height: 100px;
    border: 2px solid #000;
}

/* image section */
.cp-image-controller {
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #34D0BA;
}

.cp-image-controller>button {
    padding: 5px 20px;
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 1.6rem;
    cursor: pointer;
}
.cp-image-controller>button:hover{
    color: #34D0BA;
}

.cp-image-section {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.cp-image-canvas{
    width: 100%;
    height: 100%;
    max-width: 100%;
    min-width: 100%;
    flex: 1;
    overflow: hidden;
}
.cp-image-canvas > canvas{
    display: block;
}